.input {
    position: absolute;
    top: 300px;
    left: 530px;
    max-width: 450px;
    height: 44px;
    
    border-radius: .5rem;
    padding: 0 1rem;
    
    font-size: 1rem;
    
  }
  

  
  .label {
    position: absolute;
    top: 275px;
    left: 539px;
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }
  
  .input-group:hover .label, .input:focus {
    color: #05060fc2;
  }